<% if current_user.phase3 ==true%>

<h2 class="text-center"><b>Unapproved Application</b></h2>


<table id="table_id" class="table table-striped">
<thead>
            <tr>
            <th>Name</th>
            <th>EMP_ID</th>
            <th>Department</th>
            <th>Applicant Type</th>
            <th>Show</th>
            <th>approve</th>
            <th>disapprove</th>
          </tr>
</thead>
<tbody>
<% @phases.each do |phase| %>
  <% @phase =phase %>
  <% @user_profile = UserProfile.find(phase.user_profile_id)%>
  <tr>

       <td ><%= @user_profile.name %></td>
       <td ><%=@user_profile.unique_id %></td>
       <td ><%= @user_profile.department %></td>
       <td><%= @user_profile.applicant_type%></td>
       <td ><%= link_to "Show", show_user_path(phase.id), method: :get,class:"btn btn-primary btn-sm" %></td>
        <td> <button type="button" class="btn btn-warning btn-md" data-toggle="modal" style="margin:10px;"  onclick="sticker_allotment(<%=phase.id%>);" data-disable-with="Validating ...">Aproove</button></td>
         <td><button type="button" class="btn btn-warning btn-md" data-toggle="modal" style="margin:10px;"  onclick="remark(<%= phase.id%>);" data-disable-with="Validating ...">Disapprove</button></td>
   
  </tr>
    <% end %>
</tbody>
</table>

<h2 class="text-center"><b>Unapproved Application</b></h2>

<table id="table_id1" class="table table-striped">
<thead>
            <tr>
            <th>Name</th>
            <th>EMP_ID</th>
            <th>Department</th>
            <th>Applicant Type</th>
            <th>Show</th>
            <th>Sticker Number</th>
          </tr>
</thead>
<tbody>
<% @phases1.each do |phase| %>
  <% @phase =phase %>
  <% @user_profile = UserProfile.find(phase.user_profile_id)%>
<tr>

       <td ><%= @user_profile.name %></td>
       <td ><%= @user_profile.unique_id %></td>
       <td ><%= @user_profile.department %></td>
       <td><%= @user_profile.applicant_type%></td>
       <td ><%= link_to "Show", show_user_path(phase.id), method: :get,class:"btn btn-primary btn-sm" %></td>
        <td><%=phase.sticker%></td>
  </tr>
    <% end %>

</tbody>
</table>
<% else %>
   <%= render "devise/sessions#new" %>
<% end %>
 



<!-- for sticker model -->

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><div class="modal-body" id="modal_response">
    </div>
    </div>
  </div>
</div>

<!--  for remark -->

<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><div class="modal-body" id="modal_response1">
    </div>
    </div>
  </div>
</div>

<script>
    function sticker_allotment(id){
        $.ajax({
            type: "PATCH",
            url: "/generate/sticker/"+id,
            dataType: "script",
            success: function(data) {
                console.log(data);
            }
        });
    }
    function remark(id){
        $.ajax({
            type: "PATCH",
            url: "/generate/remark/"+id,
            dataType: "script",
            success: function(data) {
                console.log(data);
            }
        });
    }
</script>

<script >$(document).ready( function () {
    $('#table_id').DataTable();
} )</script>
<script >$(document).ready( function () {
    $('#table_id1').DataTable();
} )</script>

 