<%= bootstrap_form_with(model: user_profile, local: true) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
        <% user_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container_fluid">
      <div class="row" >
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <div class="shadow-lg p-3 mb-5 bg-black rounded">
            <div class="card ">
              <div class="card-header bg-info text-white text-center"><h2>Permanent Staff</h2></div>
              <div class="card-body"> <div class="field" >
  <div class="field">
   
    <h5><%= form.text_field :name,:required=>true, class:"label" %></h5>
  </div>

  <div class="field">
    
    <h5><%= form.text_field :unique_id , label: "Employee ID",:required=>true , class:"label" %></h5>
  </div>

  <div class="dropdown">
   
    <h5><%= form.select :gender, Pstaff::GENDER %></h5>
  </div>

  <div class="field">
    
    <h5><%= form.text_field :mobile_no,label:"Mobile No",:required=>true, class:"label" %></h5>
  </div>

  <div class="dropdown">
   
    <h5><%= form.select :department, Pstaff::TEMP ,:required=>true , class:"label" %></h5>
  </div>

  <div class="field">
   
    <h5><%= form.text_field :applicant_type %></h5>
  </div>

  <div class="field">
   
    <h5><%= form.text_field :address, :required=>true,class:"label"%></h5>
  </div>
  <div class="file">
    <h5><%= form.file_field :photo ,:required=>true , class:"label,ui pink button"%></h5>
  </div>
 

  <div class="file">
    <h5><%= form.file_field :id_proof ,:required=>true , class:"label,ui pink button"%></h5>
  </div>


  <div class="actions">
    <h5><%= form.submit "submit",class:"btn btn-primary" %></h5>
  </div>

</div>
</div>
</div>
</div>
<% end %>
